@import "variables.scss";

$twitter: #55acee;
$linkedin: #007bb5;
$facebook: #3b5998;
$gmail: #dd5347;
$whatsapp: #12af0a;
$soft-primary: rgba(55, 125, 255, 0.1);
$soft-secondary: rgba(113, 134, 157, 0.1);
$soft-info: rgba(9, 165, 190, 0.1);
$soft-warning: rgba(245, 202, 153, 0.1);
$soft-danger: rgba(237, 76, 120, 0.1);
$soft-success: rgba(0, 201, 167, 0.1);
$soft-dark: rgba(19, 33, 68, 0.1);
$danger-dark: #cc0000;
$warning-dark: #ff8800;
$success-dark: #007e33;
$info-dark: #0099cc;
$tertiary: #2bbbad;
$tertiary-dark: #00695c;
$quaternary: #aa66cc;
$quaternary-dark: #9933cc;

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: var(--body-font);
  font-size: calc(var(--normal-font-size) - 0.08rem);
  transition: 0.5s;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.3125rem;
  font-size: calc(var(--normal-font-size) - 0.2rem);
}

.btn-circle {
  width: 36px;
  width: 36px;
  height: 36px;
  padding: 8px 0px;
  border-radius: 18px;
  text-align: center;
  font-size: 16px;
  line-height: 1.42857;
}

.btn-white {
  background-color: #fff;
  color: #3b3b3b;
  border: 0;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  background-color: #f0f0f0;
  color: #3b3b3b;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

dialog {
  border: 1px solid $secondary !important;
  padding: 1.5rem;
}
