@import "common.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .offcanvas {
    width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .offcanvas {
    width: 90% !important;
  }

  .offcanvas-full {
    width: 100% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .offcanvas {
    width: 80% !important;
  }

  .offcanvas-full {
    width: 100% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .offcanvas {
    width: 70% !important;
  }

  .offcanvas-full {
    width: 100% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .offcanvas {
    width: 60% !important;
  }

  .offcanvas-full {
    width: 100% !important;
  }
}

.offcanvas-header {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
  color: var(--primary-link-color) !important;
}

.orders {
  font-size: 0.8rem;
}
/* width */
.orders::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.orders::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.orders::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.orders::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.order .form-check-inline {
  margin-right: 0.3rem !important;
}

.order:hover {
  background-color: #e7e8eb;
}

#divSearch input[type="search"] {
  border: 0 !important;
}

#divSearch input[type="search"]:focus {
  outline: none;
}

#divSearch button {
  background-color: #fff;
  color: #ccc;
  outline: 0;
  border: 0;
}

#divSearch button:hover {
  color: #444;
  background-color: #e7e8eb;
}

// #divSearch.show {
//   border-top: 1px solid #f6f6f6 !important;
//   border-left: 1px solid #f6f6f6 !important;
//   border-right: 1px solid #f6f6f6 !important;
// }

.order-no label {
  cursor: pointer;
}

.orders hr {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.modal-backdrop {
  z-index: 0 !important;
}

.order-no input[type="checkbox"]:hover {
  border-color: $primary;
}

.dropDownMenuContent,
.dropDownMenuContent label {
  font-size: 0.8rem;
}
.dropDownMenuContent li:hover {
  background-color: $light;
}
#divSearchBar {
  position: relative;
}
#divSearchSuggestionsWrapper {
  position: absolute;
  width: 100%;
}

.history-item:hover {
  color: $primary;
}

.bg-customer-selection-badge {
  padding: 10px;
  border-width: 2px;
  background-color: $primary;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

// order details
#orderProductSearch {
  position: relative;
}
#divProductSearchSuggestions {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px;
  height: 25rem;
  overflow-y: auto;
}

#divProductSearchSuggestions li:hover,
#divProductSearchSuggestions li:focus {
  color: $primary;
  outline: none;
}

.quantityWrapper .qty {
  border: 0;
  padding: 0;
  margin: 0;
}

.quantityWrapper .btn {
  border-color: transparent;
  border-radius: 0;
  background-color: $light;
}

.quantityWrapper .btn:hover {
  background-color: mix($light, $dark, 90%) !important;
}

.price {
  color: mix($secondary, $black, 60%);
  font-size: 0.7rem;
}

.productcode {
  color: $secondary;
}

.customerSummaryCard p {
  margin: 0;
}
