@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  // --header-height: 3rem;
  // --nav-width: 68px;
  // --first-color: #235dd9;
  // --first-color-light: #afa5d9;
  // --white-color: #f7f6fb;
  --body-font: "Open Sans", sans-serif;
  --normal-font-size: 0.875rem;
  // --z-fixed: 100;
  // --bs-info-rgb: 9, 165, 190;
  // --primary-link-color: #003171;
}

$primary: #4285f4;
$secondary: #aaa;
$success: #00c851;
$info: #33b5e5;
$warning: #ffbb33;
$danger: #ff4444;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  primary: $primary,
  primary-dark: #0d47a1,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
);

@import "../node_modules/bootstrap/scss/bootstrap";
